hdf5/*
!hdf5/docker_setup.sh

netcdf/*
!netcdf/docker_setup.sh

pnetcdf/*
!pnetcdf/setup.sh
!pnetcdf/docker_setup.sh

magma/*
!magma/docker_setup.sh
!magma/magma.conf

build/*
!build/cmake_basic.sh
!build/cmake_clean.sh
!build/cmake_docker.sh
!build/cmake_docker_nompi.sh
!build/cmake_docker_nompi_cpu.sh
!build/cmake_wild-duck_nompi.sh
!build/setup_wild-duck_env.sh

tests/build/*
!tests/build/cmake_clean.sh
!tests/build/cmake_docker.sh
!tests/build/cmake_docker_cpu.sh

.vscode

*.png
*.npy
*.nc
*.code-workspace
