kokkos/*
kokkos-debug/*
kokkos-kernels/*
kokkos-kernels-debug/*

docker_deps/*
!docker_deps/**/*.sh
!docker_deps/magma/magma.conf

build/*
!build/cmake_basic.sh
!build/cmake_clean.sh
!build/cmake_docker.sh
!build/cmake_docker_nompi.sh
!build/cmake_docker_nompi_cpu.sh
!build/cmake_docker_nompi_cpu_serial.sh
!build/cmake_docker_nompi_oneapi.sh
!build/cmake_wild-duck_nompi.sh
!build/setup_wild-duck_env.sh

tests/build/*
!tests/build/cmake_clean.sh
!tests/build/cmake_docker.sh
!tests/build/cmake_docker_cpu.sh

source/GitVersion.cpp

.vscode

*.png
*.npy
*.nc
*.code-workspace

__pycache__
