hdf5/*
!hdf5/docker_setup.sh

netcdf/*
!netcdf/docker_setup.sh

pnetcdf/*
!pnetcdf/setup.sh
!pnetcdf/docker_setup.sh

build/*
!build/cmake_basic.sh
!build/cmake_clean.sh
!build/cmake_docker.sh

tests/build/*
!tests/build/cmake_clean.sh
!tests/build/cmake_docker.sh

.vscode

*.png
*.npy
*.nc