[submodule "YAKL"]
	path = YAKL
	url = https://github.com/Goobley/YAKL.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "dexrt_py"]
	path = dexrt_py
	url = https://github.com/Goobley/dexrt_py.git
